/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2020, 4:55:02 PM
    Author     : Astul
*/

:root {
  --main-accent: #de5a02;
  --main-accent-light: #f56302;
  --main-color-light: #495057;
  --main-color: #343a40;
  --text-color: #ebe6e6;
  --text-color-placeholder: #a4a9ba;


}

.btn-outline-primary {
    color: var(--main-accent);
    border-color: var(--main-accent);
}

.btn-outline-primary:hover {
    background-color: var(--main-accent-light);
    border-color: var(--main-accent-light);
}

.btn-primary {
    color: var(--text-color);
    border-color: var(--main-color);
    background-color: var(--main-accent);
    
}

.btn-primary:disabled {
    color: var(--text-color);
    border-color: var(--main-color);
    background-color: var(--main-accent);
}

.btn-primary:hover {
    border-color: var(--main-accent-light);
    background-color: var(--main-accent-light);
    
}

.form-control {
    margin-right: 8px;
    background-color: var(--main-color-light);
    color: var(--text-color);
    border: 1px solid var(--main-accent);
    
}

.form-control::placeholder {
    color: var(--text-color-placeholder);
    opacity: 1;
}

.form-control:focus {
    border: 1px solid var(--main-accent);
    background-color: var(--main-color-light);
    color: var(--text-color);
    opacity: 1;
}

.modal-content  {
    background-color: var(--main-color);
    border: 1px solid var(--text-color);
}

.modal {
    color: var(--text-color);
}

.modal-header {
    border-bottom: 1px solid var(--text-color);
}

.modal-footer{
    border-top: 0px;
    padding: 5px;
}

.close{
    color: var(--text-color);
    text-shadow: var(--main-color);
}

.input-group-prepend img {
    width: 130%;
    height: 130%;
}

.input-group-text{
    padding-left: 6px;
    padding-right: 10px;
    background-color: var(--main-accent-light);
    border: 1px solid var(--main-accent);
}



