/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2020, 9:45:15 PM
    Author     : Astul
*/

body{
    background-color: #1d1d1d;
}

#background-image {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    top: 57px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
}

#background-image img{
    
    height: 748px;
    -moz-background-size: cover;
    -webkit-background-size: cover;    
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
}


#background-overlay {
    top: 57px;
    height: 748px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 6;
    width: 100%;
    background: -moz-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(29,29,29,0.5)),color-stop(100%,rgba(29,29,29,1)));
    background: -webkit-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -o-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: -ms-linear-gradient(top,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
    background: linear-gradient(to bottom,rgba(29,29,29,0.65) 0,rgba(29,29,29,1) 100%);
}

.main-content {
    z-index: 7;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}


/*----------PRODUCT STYLES-------*/


#movies{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display:block;
    
}


.movie{
    width: 33%;
    float: left;
    padding: 0 3%;
    margin-bottom: 40px;
    
    
}

.movie-poster{
    width: 100%;
    hight: 100%;
    object-fit: fill;

}

.movie-poster img{

    border: 5px solid #ebe6e6;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    object-fit: fill;   

    width:100%;
    height:100%;
}

.movie-poster img:hover{

    border: 5px solid #de5a02;
    -moz-transition: border .15s ease-in-out;
    -webkit-transition: border .15s ease-in-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    object-fit: fill;   

}



.movie-data{
    padding: 0 5px;
    
}

.movie-title{
    font-size: 22px;
    color: #ebe6e6;
    font-weight: 700;
    display: block;
    transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-data{
    color: #a4a9ba;
    font-weight: 600;
}

.rating{
    float: right;

}

#paginacion{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    display: block;
    font-weight: 500;
    color: #ebe6e6;
}

#paginacion button{
    width: 90px;
}

div.stretchy-wrapper {
	width: 100%;
	padding-bottom: 150%; /* 2:3 */
	position: relative;
}

div.stretchy-wrapper > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	color: white;
	font-size: 24px;
	text-align: center;
}